*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

:root{
    --azulmp:#01B7FB;
    --azulosc:#007EB5;
    --griscl: #F5F5F5;
    --grisosc:#EDEDED;
    --azulcl:#DAEBF6;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Aca comienza el nav */

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:var(--azulosc);
}

.contenedor{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo{
    margin-right: 30px;
    width: 90px;
    background-color: var(--azulosc);
    margin-left: 80px;
}

#nombreBilletera{
    width:300px;
    color: var(--griscl);
}

#perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 30px;
}

#saludo{
    font-size: 1.2em;
    color: var(--griscl);
    margin-right: 10px;
}

#saludoIcono{
    margin-left: 10px;
}

/* Aca comienza el header */
/* Aca comienza el aside */
header{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width:100%;
    height: calc(100vh - 100px);
    background-color: var(--grisosc);
}

aside{
    display: flex;
    flex-direction: column;
    width:20%;
    border-right: 5px #007EB5 solid;
    height:calc(100vh - 100px);
}

aside ul li{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
}

aside ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 0.8em;
    color: var(--azulosc);
    font-weight: 600;
    padding: 20px 25px;
}

aside ul li a:hover{
    background-color:#c5F5F5;
    transition: 0.3s;
}

.iconoLista{
    margin-right: 20px;
}

#inicio{
    margin-bottom: 100px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#cerrar{
    margin-top: 90px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

/* Aca comienza la seccion uno */

.seccionUno{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--grisosc);
    width: 30%;
    height:calc(100vh - 100px);
    margin-left: 100px;
}

.contenedorUno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cajaUno{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow:5px 5px 10px gray;
    background-color: white;
}

.cajaUno:hover{
    background-color: var(--griscl);
    transition: 0.3s;
}

.ingresadoCabecera{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.titulo{
    font-size: 0.8em;
    margin-left: 20px;
    font-weight: 200;
    opacity: 0.8;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--azulcl);
    color: var(--azulosc);
    width: 20%;
    height: 20px;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow:2px 2px 2px gray; 
    font-size: 0.7em;
}

.btn:hover{
    background-color: var(--azulmp);
    transition: 0.3s;
    color: var(--griscl);
}

.ingresadoMonto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.spanUno{
    font-size: 1.6em;
    margin-left: 15px;
}

#ingresadoInput{
    font-size: 1.6em;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    margin-bottom: 5px;
}

#ingresadoInput:hover{
    background-color: var(--azulcl);
    transition: 0.3s;
}

#ingresadoInput::placeholder{
    font-size: 0.5em;
}

.subrayado{
    content: '';
    border-top: 2px solid black;
    width: 60%;
    margin-left: 15px;
}

.cajaDos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow:5px 5px 10px gray;
    background-color: white;
}

.cajaDos:hover{
    background-color: var(--griscl);
    transition: 0.3s;
}

.btnDos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--azulcl);
    color: var(--azulosc);
    width: 45%;
    height: 30px;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow:2px 2px 2px gray; 
    font-size: 0.8em;
    font-weight:600;
}

.btnDos:hover{
    background-color: var(--azulmp);
    transition: 0.3s;
    color: white;
}

.contenedorDos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.cajaTres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 120px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow:5px 5px 10px gray;
    background-color: white;
}

.resumen:hover{
    background-color: var(--griscl);
    transition: 0.3s;
}

.cajaTitulo{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

.cajaGastos, .cajaDisponible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.montoGastos, .montoDisponible{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.dineroIngresado{
    font-size: 0.8em;
    margin-left: 20px;
    font-weight: 200;
    opacity: 0.8;
}

.spanDos{
    font-size: 1.2em;
    margin-left: 15px;
    height: 100%;
    margin-bottom: 5px;
}

#pGastos, #pDisponible{
    font-size: 1.2em;
    width: 80%;
    height: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#p:hover{
    background-color: var(--azulcl);
    transition: 0.3s;
}

.subrayadoDos{
    content: '';
    border-top: 2px solid black;
    margin-left: 10px;
    width: 85%;
}

.contenedorTres{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azulosc);
    width: 80%;
    height: 150px;
}

.banner{
    font-size: 1em;
    color: var(--griscl);
    align-self: start;
    margin-top: 10px;
    margin-left: 10px;
}

img{
    width: 50%;
    height: 80%;
}
.seccionDos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--grisosc);
    width: 40%;
    height:calc(100vh - 100px)
}

.contenedorCuatro{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow:5px 5px 10px gray;
    background-color: white;
}

.cajaActividad{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.tituloActividad{
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

#formularioGastos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.cajaConcepto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 49%;
    margin-bottom: 20px;
}

.tituloConcepto{
    display: flex;
    align-items:center;
    justify-content: start;
    width: 85%;
    height: 40px;
    font-size: 0.8em;
    box-sizing: border-box;
    font-weight: 200;
    opacity: 0.8;
}

.cajaInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.cajaInputDos{
    width: 80%;
}

#gastosInput{
    font-size: 1em;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    margin-bottom: 5px;
}

#gastosInput:hover{
    background-color: var(--azulcl);
    transition: 0.3s;
}

#gastosInput::placeholder{
    font-size: 0.8em;
}

#montoInput{
    font-size: 1em;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    margin-bottom: 5px;
}

#montoInput:hover{
    background-color: var(--azulcl);
    transition: 0.3s;
}

#montoInput::placeholder{
    font-size: 0.8em;
}

.spanTres{
    font-size: 1em;
    margin: 0 15px;
}

#agregar{
    width: 20px;
    justify-self: flex-start;
    background-color: transparent;
    border: none;
}

#agregar:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.subrayadoTres{
    content: '';
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}

#listaGastos{
    min-height: 420px;
}

.insertado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.insertado p {
    width: 30%;
    font-size: 1.1em;
}

.insertado .monto{
    width: 20%;
    font-size: 1.1em;
}

.insertado .monto p{
    width: 70%;
    font-size: 1em;
}

.insertado .monto span{
    font-size: 1em;
}

.insertado i{
    width: 5%;
}

.insertado i:hover{
    transform: scale(1.3);
    transition: 0.5s;
}


.monto{
    display: flex;
    align-items: center;
    justify-content: space-around;

}